:root {
    --main-font-color: rgb(45, 45, 45);
}
* {
    margin: 0;
}

* + * {
    margin-top: 2em;
    line-height: 150%;
    font-size: 1.2rem;
}

main {
    outline: 3px solid rgb(145, 41, 41);
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 25vw;
    margin-top: 0;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    color: var(--main-font-color);
}

/* section {
    background: pink;
} */

p {
    color: var(--main-font-color);
    width: 55ch;
}


#pageHeader {
    /* background-color: aliceblue; */
    padding-top: 2vh;
    outline: 3px solid rgb(145, 41, 41);
    margin-left: 25vw;
    margin-bottom: 0;
    width: 50vw;
}

#pageHeader > h1 {
    margin-left: 5vw;
}

#mainNav {
    background-color: rgb(145, 41, 41);
    padding: 15px;
}

#mainNav > a {
    color: white;
    border: 1px solid transparent;
    margin-left: 4px;
    margin-right: 4px;
    padding: 8px;
}

#mainNav > a:hover {
    border: 1px solid black;
    background-color: beige;
    color: black;
}